:root {
    --primary-color: rgb(168, 191, 212);
    --secondary-color: #2C6782;
    --heading-color: white;
    --paragraph-color: #2C6782;
  
    --heading-font: "Acme", sans-serif;
    --body-font: "Nunito", sans-serif;
}
h1, h2{
    font-family: var(--heading-font);
    text-shadow: 0px 0px 8px rgba(0,0,0,0.74);
}
h2{
    font-size: 35px;
    color: #333333;
    letter-spacing: 0.1em;
}
h1, footer p{
    color: var(--heading-color);
}
a{
    padding-left: 10px;
}
main p{
    color: var(--paragraph-color);
}
p, li, a{
    font-family: var(--body-font);
    font-size: 18px;
    margin: 0px;
}


body{
    width: 80%;
    margin: 0 auto;
    padding: 50px 0px 0px;
    
}
@media(max-width: 600px) {
    body{
        width: 95%;
    }
    h1{
        font-size: 35px !important;
    }
    h2{
        font-size: 25px !important;
    }
    p, li, a,footer{
        font-size: 16px !important;
    }
}
@media (min-width: 1100px) {
    body{
        width: 50%;
    }
}
header div, footer div{
    border-radius: 15px;
    /* overflow: hidden; */
}

header div , header div img, footer div:first-child{
    box-shadow: 0px 0px 32px 1px rgba(0,0,0,0.74);
    -webkit-box-shadow: 0px 0px 32px 1px rgba(0,0,0,0.74);
    -moz-box-shadow: 0px 0px 32px 1px rgba(0,0,0,0.74);
}
header div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3% 5%;
    background-color: #3376aa;

}
header div img{
    width: 25%;
}
header div h1{
    width: 75%;
    text-align: center;
    font-size: 47px;
}
main{
    margin: 20px 0px 50px;
    padding: 0px 20px;
}
main section p{
    margin-bottom: 25px;
    font-style: italic;
}
main li{
    margin: 12px 0px;
}
footer{
    margin-bottom: 20px;
} 
footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #3376aa;
    letter-spacing: 0.1em;
}

#lastmodification{
    color: yellow;
    font-size: 12px;
    font-family: var(--body-font);
    line-height: 2em;
}