:root {
    --primary-color: rgb(168, 191, 212);
    --secondary-color: #2C6782;
    --heading-color: white;
    --paragraph-color: #2C6782;
  
    --heading-font: "Acme",'Open Sans', sans-serif;
    --body-font: "Nunito",'Open Sans', sans-serif;
}
h1, h2{
    font-family: var(--heading-font);
    text-shadow: 0px 0px 8px rgba(0,0,0,0.74);
}

h2{
    font-size: 25px;
    color: #333333;
    letter-spacing: 0.1em;
}
h1, footer p{
    color: var(--heading-color);
}
a{
    padding-left: 10px;
}
main p{
    color: var(--paragraph-color);
}
p, li, a{
    font-family: var(--body-font);
    font-size: 16px;
    margin: 0px;
}

body{
    width: 95%;
    margin: 0 auto;
    padding: 50px 0px 0px;
    
}


header , footer {
    border-radius: 15px;
    /* overflow: hidden; */
}

header  , header  img, footer{
    box-shadow: 0px 0px 32px 1px rgba(0,0,0,0.74);
    -webkit-box-shadow: 0px 0px 32px 1px rgba(0,0,0,0.74);
    -moz-box-shadow: 0px 0px 32px 1px rgba(0,0,0,0.74);
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0px 10px;
    background-color: #3376aa;

}
header  img{
    width: 60%;
}
header  h1{
    width: 100%;
    text-align: center;
    font-size: 35px;
}
main{
    margin: 20px 0px 50px;
    padding: 0px 20px;
}
main section p{
    margin-bottom: 25px;
    font-style: italic;
}
main li{
    margin: 12px 0px;
}
footer{
    margin-bottom: 20px;
} 
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #3376aa;
    letter-spacing: 0.1em;
}

#lastmodification{
    color: yellow;
    font-size: 12px;
    font-family: var(--body-font);
    line-height: 2em;
}