:root {
    --primary-color: rgb(168, 191, 212);
    --secondary-color: #2C6782;
    --heading-color: #2C6782;
    --paragraph-color: #000000;
  
    --heading-font: "Acme",'Open Sans', sans-serif;
    --body-font: "Nunito",'Open Sans', sans-serif;
}
h1, h2, figcaption{
    font-family: var(--heading-font);
    margin: 0px;
    text-align: center;
}
h1{
    font-size: 40px;
}
h2, figcaption{
    font-size: 25px;
    letter-spacing: 0.1em;
}
h1, h2, figcaption{
    color: var(--heading-color);
}
main p{
    color: var(--paragraph-color);
}
p, li, a{
    font-family: var(--body-font);
    font-size: 16px;
    margin: 0px;
}

a:visited{
    color: white;
}
header{
    border-bottom: solid 1px #96969636;
    z-index: 99999 !important;
    background-color: white;
}

header p{
    text-align: center;
}


.first-col{
    display: grid;
    grid-template-columns: auto auto;
    padding: 2.4% 0px;
}


div.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
}
.logo img{
    width: 70%;
    max-width: 450px;
    
}

.mobile-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.social-mobile{
    width: auto;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.social-mobile i{
    color: var(--paragraph-color);
    padding: 0px 0.4rem;
    font-size: 20px;
}

.date-mobile{
    position: absolute;
    margin-top: 15%;
    margin-right: 15px;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
}


/*:::::::::Hamburguer:::::::*/

#hamburguer i{
    color: var(--heading-color);
    cursor: pointer;
    padding: 0px 15px;
    font-size: 20px;
}
#hamburguer i:nth-child(2){
    display: none;
}
.xChange i:first-child{
    display: none;
}
.xChange i:nth-child(2){
    display: flex !important;
    margin-top: -2.5px;
}
.show-menu{
    display: flex;
}
/*:::::::::Hamburguer End:::::::*/


/*::::::::Hide the desktop social icons & date when mobile width is working on ::::::::*/
.social-large, .date-large{
    display: none;
}
/*:::::::: END: Hide the desktop social icons & date when mobile width is working on ::::::::*/


nav {
    background-color: var(--secondary-color);
	text-align: center;
	display: none;
	flex-direction: column;
}

nav div {
	flex: 1 1 auto;
}
nav a {
	display: block;
    color: white;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 1.2rem;
    line-height: 2em;
}

nav a:hover {
	background-color: black;
}
main{
    padding-top: 5%;
    position: relative;
}

main .responsive-width{
    padding: 1% 5% 5%;
    display: grid;
    grid-template-rows: repeat(5, minmax(300px, auto) );
    gap: 5px;
}

.mockup-style{
    background-color: #eeeeee;
    padding: 5%;
    font-style: italic;
    border: solid 1px #c7c7c7;
    border-radius: 5px;
}
/* 
#spotlight div{
    min-height: 250px;
} */
#spotlight .thirdDiv, #join{
    display: none;
}

footer p{
    font-size: 12px;
}
footer a{
    text-decoration: none;
    color: white;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
    background-color: var(--secondary-color);
    letter-spacing: 0.1em;
    text-align: center;
}
.contact-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;

}
footer img{
    filter: brightness(0) invert(1);
}
footer .logo-footer{
    padding: 0px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer .logo-footer a{
    padding: 0px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer .logo-footer img{
    width: 100% !important;
    max-width: 150px;
}
.contact-info{
    padding: 20px 0px;
}

.contact-info div:nth-child(3){
    padding: 10px 0px;
}



/*:::::::::BANNER TOP:::::::*/

.banner-top{
    background-color: #000000;
    min-height: 120px;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.banner-top h2{
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
    margin: 0px !important;
}
.banner-top a{
    color: #ffffff;
    font-size: 14px;
    font-weight: bold !important;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: var(--secondary-color);
    padding: 8px 12px;
    border-radius: 4px;
}

/* ::::::  Hero  ::::::: */


#hero{
    position: relative;
    overflow: hidden;
    /* background-image: url(../images/back-hero.jpg); */
    min-height: 350px;
}
#hero picture{
    width: 100%;
    height: 100%;
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#hero img{
    width: 100% !important;
    height: auto !important;
    margin: 0 auto;
    
}
#hero h2{
    text-align: left;
    margin-bottom: 20px;
    color: var(--secondary-color);
    position: relative;
}
#hero p{
    color: var(--paragraph-color);
    position: relative;
}

.read-more {
    margin-top: 20px;
}
.read-more a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}

/*:::::::::CTA:::::::*/



.cta{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #000000;
    margin: 0px;
    padding: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40% !important;
    z-index: 10;
    
}
.cta p{
    color: white !important;
}

.cta a{
    color: white;
    text-decoration: none;
    font-weight: 800;
    justify-self: center;
    align-self: center;
    background-color: var(--secondary-color);
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
/* 

.film{
    background-color: #00000067;
    
} */


/* :::::::  Other cards  :::::: */
.secondTitle{
    position: relative;
    padding: 30px;
   /*  background-image: url(../images/back-confereces.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;

}

.secondTitle h2{
    text-align: left;
    font-size: 18px;
    font-family: Tahoma;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 20px;
    color: white;
}

.secondTitle p{
    color: white;
}



#spotlight .inner-spotlight{
    background-color: #2c678242;
    padding: 10px !important;
    margin-bottom: 30px;
}




/* Weather section */

.weather-data{
    display: flex;
    flex: 1 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.weather-data figure{
    max-width: 50%;
    margin: 0px;
}
.weather-data img{
    width: 100%;
}

/* Background Images */

#join{
    background-image: url('../images/join-back.jpg');
}
#spotlight{
    background-image: url('../images/spotlight-back.jpg');
}
#news{
    background-image: url('../images/news-back.jpg');
}
#weather{
    background-image: url('../images/weather-back.jpg');
}
#event{
    background-image: url('../images/back-confereces.jpg');   
}

/* Images in Discover page */


.responsive-intern{
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
}
.responsive-intern figcaption{
    line-height: 1.2em;
    padding: 10px 0px;
}
.place-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 40px;
}
.responsive-intern figure{
    margin: 0px;
    padding: 0px;
    width: 100%;
    
}
.responsive-intern img{
    width: 100%;
}
.description{
    margin: 20px 5px 0px;
}
.place-section [data-src]{
    background-color: #eeeeee;
    min-height: 200px;
    min-width: 100%;
    margin: 0 auto;
    border-radius: 4px;
    overflow: hidden;
}

/* Number of visits in Discover Page */


@keyframes slideInFromLeft {
  0% {
    transform: translatey(-20px);
    opacity: 0;
  }
  100% {
    transform: translatey(0);
    opacity: 1;
  }
}

#visit{
    position: absolute;
    top: 0px;
    right: 10vw;
    padding: 5px 20px 5px;
    border: solid 1.5px #96969636;
    border-top: none;
    border-radius: 0px 0px 6px 6px;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    z-index: 0 !important;
}
#visit p{
    font-size: 13px;
}


/*  JOIN CSS */

.form-section{
    padding: 50px 0px 120px;
    display: flex;
    flex-direction: column;
}
.form-section div:first-child p{
    font-size: 18px;
    line-height: 1.2em;
    font-family: var(--body-font);

}
.form-section div:first-child h1{
    text-align: left !important;
    font-size: 60px;
}

.form-section div:nth-child(2){
    padding-top: 40px;
} 
.form-section div:nth-child(2) form{
    display: flex;
    flex-direction: column;
}
.form-section div:nth-child(2) label{
    display: flex;
    flex-direction: column;
}

.form-section label.hidden{
    display: none !important;
}

.form-section label{
    padding-bottom: 16px;
    letter-spacing: 0.05em;
    line-height: 2em;
    font-weight: bold;
    font-size: 14px;
    font-family:var(--heading-font) !important;

}

.form-section input{
    height: 30px;
    border: 1px solid rgba(128, 128, 128, 0.473);
    border-radius: 4px;
    padding: 0px 10px;
}

.form-section select{
    height: 35px;
    border: 1px solid rgba(128, 128, 128, 0.473);
    border-radius: 4px;
    padding: 0px 10px;
}

.form-section textarea{
    border: 1px solid rgba(128, 128, 128, 0.473);
    border-radius: 4px;
    padding: 10px 10px;
}

input[type=submit]{
    color: white;
    font-weight: 800;
    font-family: var(--heading-font);
    letter-spacing: 0.2em;
    line-height: 2em;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    min-height: 40px;
    width: 25%;
    margin-top: 10px;
}

.membership{
    display: none;
}


/* Directory Page */

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 60px;
    padding: 40px 0px;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.grid section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #e6faf4;
    padding: 20px;
    position: relative;
    min-height: 420px;
    border-radius: 6px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.13);
    
}


.grid section div{
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.grid section div img{
    max-height: 180px;
    width: 70%;
    
}
.grid section span{
    text-align: center;
    font-style: italic;
}
.grid section ul{
    list-style: none;
}
.grid strong{
    font-family: Arial, Helvetica, sans-serif;
}
.grid ul li{
    font-size: 14px;
    padding: 5px 0px;
}
.grid a{
    text-align: center;
    padding: 12px 0px 10px;
    font-weight: bolder;
    font-family: var(--heading-font);
    letter-spacing: 0.1em;
    line-height: 1.2em;
    text-decoration: none;
    width: 30%;
    color: white;
    background-color: var(--secondary-color);
    border-radius: 12px;
    position: absolute;
    bottom: 25px;
}

.list{
    display: block;
    padding: 40px 0px;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.toggle-section{
    margin: 50px 0px 0px;
}
.toggle-section div{
    font-family: var(--body-font);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 2.5px 15px;
    cursor: pointer;
}
.toggle-section div p{
    padding-top: 2px;
}
.toggle-section .fa-list::before{
    font-size: 18px;
    margin-right: 10px;
}
.toggle-section .fa-grip::before{
    font-size: 20px !important;
    margin-right: 10px;
}