@media (min-width: 1100px) {

    .responsive-width{
        max-width: 1300px;
        width: 85%;
        margin: 0 auto;
        padding: 0px;
    }

    header .responsive-width{
        display: grid;
        grid-template-columns: 20% 70% 10%;
        min-height: 120px;
    }

    .mobile-header{
        display: none;
    }

    /*::::::::Show the desktop social icons & date when mobile width is working on ::::::::*/
    .social-large, .date-large{
        display: flex;
    }
    /*:::::::: END: Show the desktop social icons & date when mobile width is working on ::::::::*/

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: transparent;
        justify-self: flex-end;
        padding: 0px 7.5%; 
    }
    #menu div{
        padding: 0px 20px;
    }
    nav a, nav a:visited{
        color: var(--heading-color) !important;
        padding: 0px;
        border-color: transparent !important;
        border: 3px solid;
    }

    nav a:hover, nav a.active{
        position: relative;
        background-color: transparent;
        border-bottom-color: var(--paragraph-color) !important;
    }


    .date-large{
        position: absolute;
        align-self: flex-start;
        justify-self: flex-start;
        font-style: italic;
        font-size: 13px;
        line-height: 2rem;
        font-weight: 400;
    }

    .social-large{
        width: auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .social-large i{
        color: var(--paragraph-color);
        padding: 0px 0.4rem;
        font-size: 20px;
    }

    p{
        line-height: 1.5em;
        font-size: 18px;

    }
    h1{
        font-size: 45px;
    }

    h2{
        font-size: 30px;
    }

   
    main{
        padding-top: 40px;
    }


    main .responsive-width{
        padding: 1% 5% 5%;
        display: grid;
        grid-template-rows: repeat(3, minmax(300px, auto) );
        grid-template-columns: 1fr 2fr 1fr;
        gap: 20px;
    }

    #spotlight div:nth-child(3){
        display: flex !important;
    }

    #event{
        grid-area: 1/1/2/2 !important;
        
    }
    #weather{
        grid-area: 2/1/3/2 !important;

    }
    #join{
        grid-area: 3/1/4/2 !important;
    }
    
    #hero{
        grid-area: 1/2/3/3 !important;
    }
    #news{
        grid-area: 3/2/4/3 !important;
    }
    #spotlight{
        grid-area: 1/3/4/4 !important;
    }
    .inner-spotlight img{
        width: 100%;

    }


    .banner{
        width: 85% !important;
       max-width: 1300px !important;
    }

    /* Hover effects in Discover Page */

    .place-section:first-child img:hover{
        box-shadow: 0 0 50px #333;
        transition: ease-in 0.25s;
    }
    .place-section:nth-child(2) img:hover{
        filter: blur(1px) grayscale(100%);
        transition: ease-in 0.25s;
    }
    .place-section:nth-child(3) img:hover{
        transform: scale(1.25);
        transition: ease-in 0.25s;
    }
    .place-section:nth-child(4) img:hover{
        border-radius: 50%;
        transition: ease-in 0.25s;
    }
    .place-section:nth-child(5) img:hover{
        transform: rotate3d(0, 1, 0, 180deg);
        transition: ease-in 0.9s;
    }

    /*  JOIN PAGE CSS */

    .form-section{
        padding: 50px 50px 0px;
    }

    .two-col-form{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .two-col-form label:first-child{
        padding-right: 10px;
    }
    
    .two-col-form label:nth-child(2){
        padding-left: 10px;
    }
    .membership{
        display: block;
        padding: 50px 20px 50px 0px;
    }
    
    .membership h2{
        text-align: left;
        font-size: 22px;
        font-weight: bolder;
        color: var(--body-font);
    }
    .membership p{
        font-size: 14px !important;
    }
    .membership strong{
        font-family: var(--heading-font);
        font-size: 14px;
        line-height: 1.5em;
    }

    
    /* DIRECTORY PAGE  */

    .list section{
        display: grid;
        gap: 15px;
        grid-template: 50px 150px/2fr 4fr 1fr !important;
        
    }
    .list section div {
        grid-area: 2/1/3/2;
        height: 150px;
        display: flex;
        align-items: flex-start;
    }
    .list section div img{
        max-height: 150px;
        width: 40%;
        
    }
    .list section ul{
        grid-area: 1/2/3/3;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .list ul li{
        font-size: 16px;
        padding: 5px 0px;
    }
    .list a{
        grid-area: 1/3/3/4;
        text-align: center;
        padding: 12px 20px 10px;
        font-weight: bolder;
        font-family: var(--heading-font);
        letter-spacing: 0.1em;
        line-height: 1.2em;
        text-decoration: none;
        color: white;
        background-color: var(--secondary-color);
        border-radius: 12px;
        display: flex;
        justify-self: center;
        align-self: center;
    }


/* CONTACT PAGE */

.contact-infor li:first-child{
    display: flex;
}

}