:root {
    --primary-color: rgb(168, 191, 212);
    --secondary-color: #2C6782;
    --heading-color: #2C6782;
    --paragraph-color: #000000;
  
    --heading-font: "Acme",'Open Sans', sans-serif;
    --body-font: "Nunito",'Open Sans', sans-serif;
}
@media(min-width: 32.5em) {


    .date-mobile{
        margin-top: 80px;
    }

    main .responsive-width{
        padding: 1% 5% 5%;
        display: grid;
        grid-template-rows: repeat(5, minmax(300px, auto) );
        grid-template-columns: 60% 40%;
        gap: 5px;
    }
    #hero{
        grid-area: 1/1/2/3 !important;
    }
    #news{
        grid-area: 2/1/3/3 !important;
    }
    #spotlight{
        grid-area: 3/1/4/3 !important;
    }
    #join{
        display: block;
        grid-area: 4/1/5/3 !important;
    }
    #event{
        grid-area: 5/1/6/2 !important;
    }
    #weather{
        grid-area: 5/2/6/3 !important;

    }
    
    .contact-footer{
        display: grid;
        grid-template-columns: 50% 50% ;
        width: 80%;
        max-width: 800px;
    }

    .logo-footer p{
        text-align: left;
        padding-left: 40px;
    }
    
   /*:::::::::BANNER TOP:::::::*/

.banner-top{
    background-color: #000000;
    min-height: 120px;
    display: grid !important;
    grid-template-columns: 70% 30%;
    padding: 0 5%;
    border-radius: 0px 0px 4px 4px;
}
.banner{
    width: 100%;
    margin: 0 auto;
}
.banner-top h2{
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    justify-self: start;
}
.banner-top a{
    justify-self: end;
    font-size: 16px;
    padding: 10px 20px !important;
}


/*:::::::::CTA:::::::*/

.cta{
    grid-template-columns: 75% 25%;
    
}


.responsive-intern .place-section{
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 30px;
}



/*  JOIN PAGE CSS */

.form-section{
    padding: 100px 50px 120px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;
}


}






