:root {
    --blobal-font: 'Ubuntu', sans-serif;
}
body{
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

td,th{
    padding: 10px 20px;
    font-family: var(--blobal-font);
}

td{
    text-align: center;
}
caption {
    padding: 10px;
    caption-side: bottom;
    font-size: .85rem;
  }