:root {
    --blobal-font: 'Ubuntu', sans-serif;
}
body{
    width: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    margin: 0 auto;
    border-spacing: 0px;
    box-shadow: 10px 10px 14px 1px rgba(10,126,168,0.75);
    -webkit-box-shadow: 10px 10px 14px 1px rgba(10,126,168,0.75);
    -moz-box-shadow: 10px 10px 14px 1px rgba(10,126,168,0.75);
}
td,th{
    padding: 8px 15px;
    font-family: var(--blobal-font);
    border: 1px solid #abb3b7;
    margin: 0px;
}
td{
    text-align: center;
}
thead tr:first-child{
    background-color: #7fb8c1;
}

thead tr:first-child th{
    font-size: 26px;
    font-weight: 600;
    line-height: 1.2em;
    color: #000000;
}
thead tr:nth-child(2){
    background-color: #628ca5;
}
thead tr:nth-child(2) th{
    color: #ffffff;
    font-size: 16px;
    font-weight: 900;
    line-height: 1.2em;
}
tbody tr td{
    font-size: 12px;
}
tbody tr:nth-child(2n+1){
    background-color: #e7f0ed;
}
tbody tr:nth-child(2n){
    background-color: #e7ffed;
}

tbody tr:nth-child(4) td:nth-child(3){
    background-color: #628ca5;
    color: white;
}

tbody tr:nth-child(5) td:first-child{
    font-style: italic;
}

tfoot tr{
    background-color: #7fb8c1;
    font-size: 12px;
}