:root {
    --blobal-font: 'Ubuntu', sans-serif;
}
body{
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

td,th{
    padding: 15px 25px;
    font-family: var(--blobal-font);
}

td{
    text-align: center;
}
caption {
    padding: 10px;
    caption-side: bottom;
    font-size: .85rem;
  }
thead tr:first-child{
    background-color: #7fb8c1;
}

thead tr:first-child th{
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2em;
    color: #000000;
}
thead tr:nth-child(2){
    background-color: #628ca5;
}
thead tr:nth-child(2) th{
    color: #ffffff;
    font-size: 25px;
    font-weight: 900;
    line-height: 1.2em;
}
tbody tr:nth-child(2n+1){
    background-color: #e7f0ed;
}
tbody tr:nth-child(2n){
    background-color: #e7ffed;
}