@media(min-width: 32.5em) {
    td,th{
        padding: 15px 25px;
    }
    thead tr:first-child th{
        font-size: 40px;
    }
    thead tr:nth-child(2) th{
        color: #ffffff;
        font-size: 25px;
    }
    tbody tr td{
        font-size: 20px;
    }
    tfoot tr{
        font-size: 16px;
    }
}