body {
    --text-and-headings: #2e2e2e ;
    --light-color: #f5f5f5;
    --main-accent: #adebcd;
    --second-accent: #f8de7e;
    --alternative-color: rgb(194, 193, 121);

    --heading: 'Francoins One';
    --text-and-paragraphs: 'Fira Sans';
}

h1, h2, h3{
    color: var(--text-and-headings);
}
h1{
    font-family: var(--heading);
    font-size: 45px;
}
h2{
    font-family: var(--heading);
    font-size: 40px;
    margin: 0px;
}
h3{
    font-family: var(--heading);
    font-size: 25px;
}
p, a{
    color: var(--text-and-headings);
    font-family: var(--text-and-paragraphs);
}
a{
    text-decoration: none;
}

body{
    width: 100%;
    padding: 0px;
}
header{
    min-height: 160px;
    background-color: var(--main-accent);
}
.sub-header{
    display: flex;
    width: 85%;
    margin: 0 auto;
    padding: 0px;
}

.phone, .social-media{
    width: 50%;
    display: flex;
    align-items: center;
    height: 42px;
}
.phone{
    justify-content: flex-start;
}
.social-media{
    justify-content: flex-end;
}
.social-media i{
    font-size: 20px;
    padding: 0px 5px;
}
.main-header{
    padding-top: 20px;
}
.logo-col{
    display: grid;
    grid-template-columns: auto 20%;
    width: 85%;
    margin: 0 auto;

}
.logo img{
    width: 100%;
    max-width: 200px;
    filter: brightness(0) invert(1);
}
.toggle-icon{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.toggle-icon i{
    font-size: 22px;
    cursor: pointer;
}
.fa-xmark{
    display: none;
}
.show-icon .fa-xmark{
    display: block !important;
}
.show-icon .fa-bars{
    display: none !important;
}

.menu{
    position: absolute;
    z-index: 50;
    top: 120px;
    width: 100vw;
    background-color: var(--text-and-headings);
    display: none;
}
.show-menu{
    display: block !important;
}
nav{
    padding: 80px 0px;
    
}
nav div{
    display: flex;
    flex: 1 1 auto;
}
nav a {
	display: block;
    color: var(--light-color);
	text-align: left;
	padding: 15px 15px 15px 10%;
	text-decoration: none;
	font-size: 1.2rem;
    line-height: 2em;
}

/* MAIN */

main{
    margin: -160px 0px 0px;
}

.hero{
    min-height: 100vh;
    background-image: url('../images/background-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero h1{
    text-align: center;
    width: 60%;
    color: var(--light-color);
    text-shadow: 0 0 10px #000, 2px 2px 2px rgba(0,0,0,0);
}
.hero a{
    position: relative;
}
.hero i{
    color: rgba(0, 0, 0, 0.199);
    position: absolute;
    font-size: 90px;
}
.hero i:nth-child(2){
    top: 16px;
    transform: scale(0.85);
}

/* Main: Temple section */

.temple-section{
    padding: 60px 0px;
}
.temple-section div{
    width: 80%;
}
.temple-info{
    align-items: flex-start !important;
}
.temple-info div{
    padding: 5px 0px;
}
.temple-info p:last-child{
    padding-top: 50px;
    font-family: Tahoma;
    font-weight: bold;

}
/* Main: quote-and-weather-section */

.quote-image{
    background-image: url('../images/happy-family.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.quote, .weather{
    background-color: rgb(194, 193, 121);
}

.quote p{
    color: var(--light-color);
    width: 80%;
    font-size: 5vw;
    line-height: 1.5em;

}
.reverse-mobile{
    display: flex;
    flex-direction: column-reverse;
}

.weather-image{
    background-image: url('../images/family-water.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.weather-image p{
    position: absolute;
    bottom: 5vh;
    font-family: Tahoma;
    font-size: 20px;
    font-style: oblique;
    color: white;
}
.weather-title p{
    color: var(--light-color);
    font-size: 25px;
}
.weather-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.weather-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#condition{
    text-transform: capitalize;
    font-size: 20px;
    text-align: center;
}
#temperature{
    font-size: 25px;
    text-align: center;
}
.forecast-row{
    width: 100%;
}
.forecast-row p{
    text-align: center;
}
.forecast{
    min-width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px ;
}
.forecast img{
    width: 40px !important;
}
.cap{
    text-transform: capitalize !important;
}


/* Main: CTA section */

.cta-section{
    flex-direction: column;
    background-color: var(--text-and-headings);
    color: var(--light-color);
}
.cta-section p, .cta-section a{
    color: var(--light-color);
}
.cta-text p{
    font-size: 25px;
    padding-bottom: 20px;
}
a.general-btn{
    background-color: var(--alternative-color);
    padding: 15px 30px;
    color: var(--text-and-headings);
    border-radius: 50px;
    border:0px;
    font-size: 20px;
    font-family: Tahoma;
    font-weight: bold;
    text-transform: capitalize;
}
a.general-btn:hover{
    transform: scale(1.2);
}

/* Testimonial Section */

.testimonial-section{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.testimonial{
    font-size: 25px;
    text-align: center;
    padding: 0px 10px;
}
/* INTERNAL TEMPLATES */

.col-50{
    min-height: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
.col-50 img{
    width: 100%;
    border-radius: 8px;
}

.section-100{
    width: 100vw;
    min-height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}





/* Footer */

footer{
    width: 100vw;
}
.main-footer{
    background-color: var(--text-and-headings);
}
.main-footer-content{
    width: 85%;
    margin: 0 auto;
    padding: 50px 0px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-footer-content p, .main-footer-content a, .main-footer-content h3 {
    color: white;
}
.map{
    order: 1;
    padding: 50px 0px 50px;
}
.map .iframe{
    border: 0px !important;
}
.desktop-iframe{
    display: none;
}
.contact-info{
    order: 2;
    width: 100%;
    padding: 50px 0px 25px;
}
.row-info{
    display: flex;
}
.contact-icon{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-icon i, .contact-info p{
    color: var(--light-color);
    font-size: 18px;
}
.quick-links{
    order: 3;
    width: 100%;
    padding: 25px 0px 50px;
}
.quick-links a{
    display: block;
    font-size: 18px;
    line-height: 2em;
    padding-left: 15px;
}
.sub-footer{
    text-align: center;
    background-color: #000000;
    color: white;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub-footer p{
    color: inherit;
    font-size: 12px;
}



/* ::::::::::::::::::::::::  TEMPLE PAGE  :::::::::::::::::::::::::::: */


.hero-temple{
    background: url('../images/angel-moroni.jpeg') !important;
    background-position: top center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.temple-directory{
    padding: 160px 0px 80px;
}
.toggle-section{
    margin: 50px 0px 0px;
    display: flex;
}
.toggle-section div{
    font-family: var(--text-and-headings);
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 2.5px 15px;
    cursor: pointer;
}
.toggle-section div p{
    padding-top: 2px;
}
.toggle-section .fa-list::before{
    font-size: 18px;
    margin-right: 10px;
}
.toggle-section .fa-grip::before{
    font-size: 20px !important;
    margin-right: 10px;
}
.temple-directory{
    width: 80%;
    margin: 0 auto;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 60px;
    padding: 40px 0px;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.grid section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #e6faf4;
    padding: 20px;
    position: relative;
    min-height: 420px;
    border-radius: 6px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.13);
    
}


.grid section div{
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.grid section div img{
    max-height: 180px;
    width: 70%;
    
}
.cards section span{
    text-align: center;
    font-style: italic;
}
.cards section ul{
    list-style: none;
}
.cards strong{
    font-family: Arial, Helvetica, sans-serif;
}
.cards ul li{
    font-size: 14px;
    padding: 5px 0px;
}
.grid a{
    text-align: center;
    padding: 12px 0px 10px;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    text-decoration: none;
    width: 30%;
    color: var(--text-and-headings);
    border-radius: 12px;
    bottom: 25px;
    cursor: pointer;
}

.list{
    display: block;
    padding: 40px 0px;
}
.list section{
    display: grid;
    gap: 15px;
    grid-template: 50px 150px 50px/1fr 1fr !important;
    
    background-color: #e6faf4;
    margin-bottom: 50px;
    padding: 40px;
    position: relative;
    border-radius: 6px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.13);
    overflow: hidden;
    
}
.list section h2{
    text-align: left !important;
    grid-area: 1/1/2/2;
    display: flex;
    align-items: center;
}
.list section div {
    grid-area: 2/1/3/2;
    height: 150px;
    display: flex;
    align-items: flex-start;
}
.list section div img{
    max-height: 150px;
    width: 80%;
    
}
.list section ul{
    grid-area: 1/2/3/3;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.list ul li{
    font-size: 16px;
    padding: 5px 0px;
}
.list a{
    grid-area: 3/2/4/3;
    text-align: center;
    padding: 12px 20px 10px;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    text-decoration: none;
    color: var(--text-and-headings);
    border-radius: 12px;
}


/* Reservation Page */

.hero-reservation{
    background-image: url('../images/booking.jpeg') !important;
}

.form-section{
    padding: 50px 0px 120px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 40%;
    margin: 0 auto;
}
.form-section div:first-child p{
    font-size: 18px;
    line-height: 1.2em;
    font-family: var(--body-font);

}
.form-section div:first-child h1{
    text-align: left !important;
    font-size: 60px;
}

.form-section div{
    padding-top: 40px;
} 
.form-section div form{
    display: flex;
    flex-direction: column;
}
.form-section div label{
    display: flex;
    flex-direction: column;
}

.form-section label.hidden{
    display: none !important;
}

.form-section label{
    padding-bottom: 16px;
    letter-spacing: 0.05em;
    line-height: 2em;
    font-weight: bold;
    font-size: 14px;
    font-family:var(--heading-font) !important;

}

.form-section input{
    height: 30px;
    border: 1px solid rgba(128, 128, 128, 0.473);
    border-radius: 4px;
    padding: 0px 10px;
}

.form-section select{
    height: 35px;
    border: 1px solid rgba(128, 128, 128, 0.473);
    border-radius: 4px;
    padding: 0px 10px;
}

.form-section textarea{
    border: 1px solid rgba(128, 128, 128, 0.473);
    border-radius: 4px;
    padding: 10px 10px;
}

input[type=submit]{
    color: white;
    font-weight: 800;
    font-family: var(--text-and-paragraphs);
    letter-spacing: 0.2em;
    line-height: 2em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    min-height: 40px;
    min-width: 85px;
    width: 25%;
    margin-top: 10px;
    background-color: var(--text-and-headings);
}
.horizontal-lbl {
    display: flex;
    flex-direction: row !important;
}
.horizontal-lbl span{
    width: 110px;
    font-weight: 500;
}

/* Services Page */

.services-back{
    background-image: url('../images/happy-family.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.service{
    min-height: 300px;
    background-color: var(--second-accent);
    display: flex;
    justify-content: center;
    align-items: center ;
    border-radius: 20px;
}
.col-50 a{
    width: 80%;
}

.service p{
    font-size: 40px;
    width: 80%;
    text-align: center;
    font-weight: 900;
}